{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Seafood</title>
  <link rel="stylesheet" href="{% static 'css/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static '/css/my_style.css' %}">
</head>
<body>
  <!-- Main Header -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3">
    <div class="container">
      <a class="navbar-brand" href="/">Welcome: {{ curUser.first_name }}</a>
      <ul class="navbar-nav">
          <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/recipes">Recipes</a>
          </li>
          <li class="nav-item dropdown">
            <a  href=""  class="nav-link dropdown-toggle" data-toggle="dropdown">Category</a>
            <div class="dropdown-menu">
              <a href="/beef" class="dropdown-item">Beef</a>
              <a href="/chicken" class="dropdown-item">Chicken</a>
              <a href="/pork" class="dropdown-item">Pork</a>
              <a href="/seafood" class="dropdown-item">Seafood</a>
              <a href="/dessert" class="dropdown-item">Dessert</a>
              <a href="/sides" class="dropdown-item">Sides</a>
              <a href="/pasta" class="dropdown-item">Pasta</a>
              <a href="/drinks" class="dropdown-item">Drinks</a>
            </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">What do you have?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
      </ul>
    </div>
  </nav>

  <!-- Recipe Section -->
  <section id="allRecipes" class="bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Seafood Recipes</h3>
          <hr>
          {% for recipe in seafoodRecipes %}
          <h5 style="text-decoration:none" class="d-inline-block"><a href="/show/{{recipe.id}}">{{ recipe.title }}</a></h5><br>
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- <img class="d-block img-fluid" src="{% static 'img/seafood.jpeg' %}" alt="seafood photo"> -->
  </section>

  <!-- Main Footer -->
  <footer id="main_footer" class="text-center p-4 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          Copyright 2018 &copy; Johnny's Recipes
        </div>
      </div>
    </div>
  </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>
